p {
    text-transform: capitalize;
}

div.signup{
    height: 100vh;
    background-color: azure;
}



.profile .nav-item a.nav-link  {
    color: #0d6efd;
    background-color: white;
    border-radius: 3px;
    border-color: #0d6efd;
    border-style: ridge;

}

.profile .nav-item a.nav-link.active  {
    color: white;
    background-color: #5f9af1;

}

.profile-col-tab .socialM-content{ 
    height: 25vh;
    background-color: #f6f8faef;
    border-radius: 5px;
    border-color: #85b2f5;
    border-style: ridge;
}

.profile .nav-pills .nav-link{
    border: 1px;
    margin: 2px;
}

