.center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

h6.user_welcoming {
    text-transform: capitalize;
    margin-top: .7rem;
    margin-bottom: .5rem;
    font-size: .85rem;
}

div.Home {
    height: 100vh;
    background-color: azure;
}

div.Home .card-body h4,
p {
    text-align: center;
    text-transform: none;
}


div.Home .card-body .fade.tab-pane {
    display: flex;
}

div.Home img.profile_img,
div.Business img.profile_img {
    width: 136px;
    height: auto;
}

.Home .nav-item a.nav-link {
    color: #0d6efd;
    background-color: white;
    border-radius: 3px;
    border-color: #0d6efd;
    border-style: ridge;

}

.Home .nav-item a.nav-link.active {
    color: white;
    background-color: #5f9af1;
}

.Home .nav-item a.nav-link.facebook {
    color: #0d6efd;
    background-color: white;
    border-radius: 3px;
    border-color: #0d6efd;
    border-style: ridge;

}

.Home .nav-item a.nav-link.instagram {
    color: #e86aed;
    background-color: white;
    border-radius: 3px;
    border-color: #e86aed;
    border-style: ridge;

}

.Home .nav-item a.nav-link.twitter {
    color: #44d2f5;
    background-color: white;
    border-radius: 3px;
    border-color: #44d2f5;
    border-style: ridge;

}

.Home .nav-item a.nav-link.facebook.active {
    color: white;
    background-color: #5f9af1;
}

.Home .nav-item a.nav-link.instagram.active {
    color: white;
    background-color: #e86aed;
}

.Home .nav-item a.nav-link.twitter.active {
    color: white;
    background-color: #44d2f5;
}

.Home-col-tab .socialM-content {
    height: 60vh;
    background-color: #f6f8fa;
    border-radius: 5px;
    border-color: #85b2f5;
    border-style: ridge;
    overflow-y: scroll;
    overflow-x: hidden;
}

.Home-col-tab .socialM-content .card {

    border: 3px solid rgba(51, 30, 190, 0.125);
}


.Home-col-tab .socialM-content .card .card-title {
    background: #e5e3f7;
    padding-bottom: 7px;
    padding-left: 7px;

}

.Home-col-tab .socialM-content .card .card-title a {
    color: #f9fafb;
    text-decoration: none;

}

.Home-col-tab .socialM-content .card .card-body img {
    width: 200px;
    height: auto;
}


.Home .nav-pills .nav-link {
    border: 1px;
    margin: 2px;
}

.modal-dialog .modal-header{
    background-color: #0d6efd;
}


.modal-header .modal-title{
    color: white;
}

.modal-content >.modal-post .modal-body img{

    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: auto;
    max-width: 250px;
}